.container {
  text-align: center;
}

abbr {
  font-style: italic;
  position: relative
}

.first-column {
    background: lightblue;
    color: black;
    font-size: 12px;
    display: flex;
    padding-left: 20px

}
.second-column {
  background: lightgreen;
  color: black;
  font-size: 12px;
  float: left;
  padding-left: 20px
}

/*# is for HTML elements that are hidden from view and an action in JavaScript will display them. */

#pgewebsite, #pacwebsite, #nwnwebsite, #cngwebsite, #aviwebsite, #dei, #diyyes, #diyno, #diymaybe, #insulation_pre_1978, #insulation_post_1978, #insulation_diy, #insulation_non_diy, #pgetest, #pactest, #nwntest, #insulation, #windows, #alldiy, #professional_tips {
  display: none;
}
