.container {
  text-align: center;
}

abbr {
  font-style: italic;
  position: relative
}

.first-column {
    background: lightblue;
    color: black;
    font-size: 12px;
    display: flex;
    padding-left: 20px

}
.second-column {
  background: lightgreen;
  color: black;
  font-size: 12px;
  display: flex;
  padding-left: 20px
}

#pgewebsite, #pacwebsite, #nwnwebsite, #cngwebsite, #aviwebsite, #SWR, #dei, #diyyes, #diyno, #diymaybe, #insulation_pre_1978, #insulation_post_1978, #insulation_diy, #insulation_non_diy, #pgetest, #pactest, #nwntest, #insulation, #windows, #insulation_questions, #windows_questions, #sliding_glass_questions, #duct_question {
  display: none;
}
