.container {
  text-align: center;
}

abbr {
  font-style: italic;
  position: relative
}

.first-column {
    background: lightblue;
    color: black;
    font-size: 12px;
    display: flex;
    padding-left: 20px;
    inline-size: min-content;

}
.second-column {
  background: lightgreen;
  color: black;
  font-size: 12px;
  float: left;
  padding-left: 20px;
  inline-size: 500px;
}

.energy_efficiency {
  color: black;
  font-size: 12px;
  float: left;
  padding-left: 20px
}
.diy-experienced {
}
.diy-interested {
}
.professional-services {
}

/*# is for HTML elements that are hidden from view and an action in JavaScript will display them. */

#pge, #pac, #nwn, #cng, #avi, #no_utility, #insulation-recommendations {
}

#retrofit-work {
  display:none;
}
