.container {
  text-align: center;
}

abbr {
  font-style: italic;
  position: relative
}

.first-column {
    background: lightblue;
    color: black;
    font-size: 12px;
    display: flex;
    padding-left: 20px

}
.second-column {
  background: lightgreen;
  color: black;
  font-size: 12px;
  display: flex;
  padding-left: 20px
}

#pgewebsite, #pacwebsite, #nwnwebsite, #cngwebsite, #aviwebsite, #SWR, #dei, #diyyes, #diyno, #insulation, #insulation2, #insulationdiy, #insulationnondiy {
  display: none;
}
